<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebust.mapper.relation.ErrandReplyMapper">
  <resultMap id="BaseResultMap" type="com.hebust.entity.errand.ErrandReply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_discuss_id" jdbcType="INTEGER" property="parentDiscussId" />
    <result column="comment_uid" jdbcType="INTEGER" property="commentUid" />
    <result column="target_uid" jdbcType="INTEGER" property="targetUid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <association property="commentUser" column="comment_uid" select="com.hebust.mapper.UserMapper.selectSimplifyUserById"/>
    <association property="targetUser" column="target_uid" select="com.hebust.mapper.UserMapper.selectSimplifyUserById"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_discuss_id, comment_uid, target_uid, content, create_date, is_delete
  </sql>
  <insert id="insertReply">
    insert into errand_reply(parent_discuss_id, comment_uid, target_uid, content, create_date)
    values (#{parentDiscussId}, #{commentUid}, #{targetUid}, #{content}, #{createDate})
  </insert>
  <select id="selectAllByPdi" resultMap="BaseResultMap" >
    select *
    from errand_reply
    where parent_discuss_id = #{pdi,jdbcType=INTEGER} and is_delete = 0
  </select>
</mapper>