<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebust.mapper.relation.ErrandDiscussMapper">
  <resultMap id="BaseResultMap" type="com.hebust.entity.errand.ErrandDiscuss">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comment_uid" jdbcType="INTEGER" property="commentUid" />
    <result column="target_uid" jdbcType="INTEGER" property="targetUid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
  </resultMap>
  <!--查询评论及其子评论的信息-->
  <resultMap id="selectAllAndChild" type="com.hebust.entity.errand.ErrandDiscuss">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comment_uid" jdbcType="INTEGER" property="commentUid" />
    <result column="target_uid" jdbcType="INTEGER" property="targetUid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <association property="commentUser" column="comment_uid"
                 select="com.hebust.mapper.UserMapper.selectSimplifyUserById"/>
    <association property="targetUser" column="target_uid"
                 select="com.hebust.mapper.UserMapper.selectSimplifyUserById"/>
    <collection property="childrenList" column="id" ofType="com.hebust.entity.errand.ErrandReply"
                select="com.hebust.mapper.relation.ErrandReplyMapper.selectAllByPdi"/>
   </resultMap>

  <sql id="Base_Column_List">
    id, comment_uid, target_uid, content, create_date, is_delete, eid
  </sql>
  <insert id="insertDiscuss">
    insert into errand_discuss(eid, comment_uid, content, create_date)
    values (#{eid}, #{commentUid}, #{content}, #{createDate})
  </insert>
  <update id="fakeDeleteDiscussByEid">
    update errand_discuss set is_delete = 1 where eid = #{eid}
  </update>
  <update id="fakeDeleteDiscussById">
    update errand_discuss set id_delete = 1 where id #{id}
  </update>
  <select id="selectAllByEid" parameterType="java.lang.Integer" resultMap="selectAllAndChild">
    select *
    from errand_discuss
    where eid = #{eid,jdbcType=INTEGER} and is_delete != 1
  </select>
  <select id="queryDiscussCount" resultType="java.lang.Integer">
    select count(*) from errand_discuss where eid = #{eid} and is_delete = 0
  </select>
  <select id="queryDiscussAllCount" resultType="java.lang.Integer">
    select count(*) from errand_discuss where is_delete = 0
  </select>
</mapper>