<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebust.mapper.StudyMapper">
  <resultMap id="BaseResultMap" type="com.hebust.entity.study.Study">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate" />
    <result column="is_achieve" jdbcType="INTEGER" property="isAchieve" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>

  <!--包含用户详细信息的查询-->
  <resultMap id="allInfo" type="com.hebust.entity.study.Study">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate" />
    <result column="is_achieve" jdbcType="INTEGER" property="isAchieve" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <association property="pubUser" column="uid" select="com.hebust.mapper.UserMapper.selectByPrimaryKey"/>
    <collection property="imgUrls" column="sid" ofType="java.lang.String"
                select="com.hebust.mapper.relation.StudyImgMapper.selectAllImgBySid"/>
  </resultMap>
  <sql id="Base_Column_List">
    sid, `uid`, category, title, details, pubdate, is_achieve, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="allInfo">
    select 
    <include refid="Base_Column_List" />
    from study
    where sid = #{sid}
  </select>
  <select id="selectAll" resultMap="allInfo" >
    select * from study where is_delete != 1
  </select>
  <select id="selectAllItemCount" resultType="java.lang.Integer">
    select count(*) from study where  is_delete != 1
  </select>
  <!-- 条件查询所需信息 -->
  <select id="queryByCondition" resultMap="allInfo">
    select * from study
    where is_delete = 0
    <if test="isHiddenAchieve == 1">
      and is_achieve = 0
    </if>
    <if test="category != '全部' and category != null and category != ''">
      and category = #{category}
    </if>
    and (category like "%"#{fuzzyParam}"%" or title like "%"#{fuzzyParam}"%" or details like "%"#{fuzzyParam}"%")
  </select>
  <select id="queryItemsCountByCondition" resultType="java.lang.Integer">
    select count(*) from study
    where is_delete = 0
    <if test="isHiddenAchieve == 1">
      and is_achieve = 0
    </if>
    <if test="category != '全部' and category != null and category != ''">
      and category = #{category}
    </if>
    and (category like "%"#{fuzzyParam}"%" or title like "%"#{fuzzyParam}"%" or details like "%"#{fuzzyParam}"%")
  </select>
    <select id="queryCount" resultType="java.lang.Integer">
      select count(*) from study where is_delete = 0
    </select>
  <select id="queryAchieveCount" resultType="java.lang.Integer">
    select count(*) from study where is_delete = 0 and is_achieve = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from study
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="sid" keyProperty="sid" parameterType="com.hebust.entity.study.Study" useGeneratedKeys="true">
    insert into study (`uid`, category, title, 
      details, pubdate, is_achieve, 
      is_delete)
    values (#{uid,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{details,jdbcType=VARCHAR}, #{pubdate,jdbcType=TIMESTAMP}, #{isAchieve,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="sid" keyProperty="sid" parameterType="com.hebust.entity.study.Study" useGeneratedKeys="true">
    insert into study
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="pubdate != null">
        pubdate,
      </if>
      <if test="isAchieve != null">
        is_achieve,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isAchieve != null">
        #{isAchieve,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hebust.entity.study.Study">
    update study
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        pubdate = #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isAchieve != null">
        is_achieve = #{isAchieve,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hebust.entity.study.Study">
    update study
    set `uid` = #{uid,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      is_achieve = #{isAchieve,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="setAchieveBySid">
    update study set is_achieve = 1 where sid = #{sid}
  </update>
  <update id="fakeDeleteBySid">
    update study set is_delete = 1 where sid = #{sid}
  </update>
  <update id="updateBySid">
    update study set
    category = #{category}, title = #{title}, details = #{details}, pubdate = #{pubdate}
    where sid = #{sid}
  </update>
</mapper>